body{
    font-family: Helvetica;
    letter-spacing: 1px;
    margin: 0px;
}a{
    text-decoration: none;
    color: inherit;
}img{
    width:inherit;
}

.menuColumn{
    position: fixed;
    white-space: nowrap;
    width: 260px;
    margin-top: 10px;
    margin-left: 10px;
}

#workContent{
    width: 150px;
    margin-left: 30px;
    margin-top: 20px;
}#header{
    margin: 10 0 10 10;
    cursor: pointer;
}#header:hover{
    color:white;
    background-color: black;
}



.columnContent{
    margin: 0px;
    padding: 2px;
}.columnContent li{
    list-style-type: none;
    font-size: 0.8em;
    line-height: 16px;
    cursor: pointer;
    margin-left: 10px;
}.columnContent li:hover{
    color:white;
    background-color: black;
}.columnContent h3{
    margin:0px;
    font-size: 0.8em;
    line-height: 16px;
}

.content{

}

.content img{
    width: 61.9%;
    margin-left: 19.05%;
    margin-top: 15vh;
    margin-bottom: 15vh;
    cursor: pointer;
}.content video{
    width: 61.9%;
    margin-left: 19.05%;
    margin-top: 15vh;
    margin-bottom: 15vh;
    cursor: pointer;
}.content iframe{
    width: 61.9%;
    height: 80vh;
    margin-left: 19.05%;
    cursor: pointer;
}

.subcontent{
    display: none;
}

.subContent img{
    width: 61.9%;
    margin-left: 19.05%;
    margin-top: 7vh;
    margin-bottom: 7vh;
}.subContent video{
    width: 61.9%;
    margin-left: 19.05%;
    margin-top: 7vh;
    margin-bottom: 7vh;
}.subContent iframe{
    width: 61.9%;
    height: 40vh;
    margin-top: 7vh;
    margin-bottom: 7vh;
    margin-left: 19.05%;
}

.description{
    position: fixed;
    width: 300px;
    right: 10px;
    top:10px;
}

.hoverShadow{
    box-shadow: -3px 6px 15px 1px #000;
    color:white;
    background-color: black;
}.hoverForText{
    color:white;
    background-color: black;
}