/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;

}#mycanvas{
  z-index: -10;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}canvas{
  position: fixed;
  pointer-events:none;
  background: #000;
}
a[href^="http://maps.google.com/maps"],
a[href^="https://maps.google.com/maps"],
a[href^="https://www.google.com/maps"] {
    display: none !important;
}
.gmnoprint:not(.gm-bundled-control) {
    display: none;
}
.gm-bundled-control .gmnoprint {
    display: block;
}.gm-svpc{
  display: none;
}.gm-style-cc{
  display: none;
}.gm-tilt{
  display: none;
}.gmnoprint{

}.gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom{
  transform: rotate(90deg);
  z-index: 30;
  bottom: 10% !important;
  left: calc(50% + 18px) !important;
}
.overlay{
  width: calc(200% - 1000px);
  margin-left: -35%;
  margin-top: -37.5%;
  z-index: 10;
  position: absolute;
  pointer-events: none;
}.content{
  margin-left: 350px;
  position: fixed;
  width: calc(100% - 350px);
  height: 100%;
  clip-path: circle(35% at 50% 50%);
  z-index: 10;
}.feed{
  color: white;
  font-family: sans-serif;
  position: absolute;
  display: inline-block;
  height: calc(100% - 235px);
  width: 350px;
  border-style: none;
  z-index: 15;
  margin-top: 214px;
  margin-left: 20px;
}.logo{
  width: 350px;
  color: white;
  font-family: sans-serif;
  font-size: 50px;
  padding: 20px;
  z-index: 20;
  position: fixed;
  display: inline-block;
  background-color: black;
}.logoWrapper{
  background-color: black;
}.loadingPage img{
  width: 188px;
  height: 188px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}.loadingPage{
  background-color: black;
  z-index: 25;
  width: 100%;
  height: 100%;
  position: fixed;
}.faces{
  position: fixed;
  margin-left: 20px;
  margin-top: 214px;
  z-index: 20;
}.faces img{
  width: 257px;
  height: 69px;
}.tweetCell{
  z-index: 16;
  position: absolute;
  bottom: 0;
  width: inherit;

}

@media (max-width:500px) {
.content{
  margin-left: 0px;
  margin-top: 20px;
  width: 100%;
}.faces{
  display: none;
}.logo{
  background: none;
  padding: 10px;
}
}
